<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="/js/home/register.js" defer></script>
    <link rel="stylesheet" href="/css/login.css">          
</head>
<body>
    <!-- <input id="id" type="text" placeholder="id"><br>
    <input id="pw" type="password" placeholder="pw"><br>
    <button id="btnLogin">LOGIN</button> -->

    <div class="login-page">
        <div class="form">
          <form class="register-form">
            <input type="text" id="id" placeholder="id"/>
            <input type="text" id="name" placeholder="name"/>
            <input type="password" id="pw" placeholder="password"/>
            <input type="password" id="confirm-pw" placeholder="confirm password"/> 
            <button type="button" id="regiBtn">SIGN UP</button>
            <p class="message">Already registered? <a href="/login">Sign In</a></p>
          </form> 
        </div>
      </div>
      <!-- Copyright (c) 2024 by Aigars Silkalns (https://codepen.io/colorlib/pen/rxddKy) -->
</body>
</html>